/* Styles pour la liste des cocktails */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
li {
  width: fit-content;
  padding: 8px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
