:host {
  width: 320px;
  height: 420px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  background: var(--p-primary-800);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30% 0;
  grid-template-areas:
    "empty"
    "title"
    "footer";

  transition: all 0.3s;

  &:hover, &:focus, &:focus-visible {
    box-shadow: 0 8px 32px rgba(131, 25, 25, 0.7);
    grid-template-rows: 70% 10% 20%;

    .image {
      transform: scale(1.05);
      filter: brightness(0.75);
      will-change: transform, filter;
    }
  }

  .image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.5s, filter 0.5s;
  }

  .title {
    font-family: sans-serif;
    grid-area: title;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    width: 100%;
    margin: auto;
    color: white;
    z-index: 5;
  }

  .footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(
      to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)
    );
    z-index: 4;
  }

  .button {
    background: var(--p-primary-600);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;

    &:hover {
      background: var(--p-primary-500);
    }
  }
}
